---
layout: default
comments: true
archive: true
---

<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
        <h2 class="headline">{{ page.date | date:"%B %-d, %Y" }}</h2>
    </header>
    <section id="post-body">
        {{content}}
    </section>
<footer id="post-meta" class="clearfix">

        <div>
        <span class="dark">
            Post by
            {% if page.author.name %}
                {% if page.author.github %}
                    <a href="http://github.com/{{ page.author.github }}">{{ page.author.name }}</a>
                {% else %}
                    {{ page.author.name }}
                {% endif %}
            {% else %}
                an anonymous author
            {% endif %}
        </span>
            <span>{{ site.description }}</span>
        </div>
    <section id="sharing">
        <div class="g-plusone" data-annotation="none"></div>
    </section>
</footer>

<!-- Google+ comments -->
{% if page.comments %}
    <div id="comments" class="archive readmore">
        <h3>Comments</h3>
        {% include comments.html %}
    </div>
{% endif %}

<!-- Archive post list -->
{% if page.archive %}
    <ul id="post-list" class="archive readmore">
        <h3>Read more</h3>
        {% for post in site.posts %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}<aside class="dates">{{ post.date | date:"%b %d" }}</aside></a>
            </li>
        {% endfor %}
    </ul>
{% endif %}




