---
layout: default
comments: true
---

<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
        <h2 class="headline">{{ page.date | date:"%B %-d, %Y" }}</h2>
    </header>
    <section id="post-body">
        {{content}}
    </section>
<footer id="post-meta" class="clearfix">

        <div>
        <span class="dark">
            Post by
            {% if page.author %}
                {% if site.data.authors.[page.author].link == "github" %}
                    <a href="http://github.com/{{ site.data.authors.[page.author].github }}" >
                {% elsif site.data.authors.[page.author].link == "gplus" %}
                    <a href="https://plus.google.com/+{{ site.data.authors.[page.author].gplus }}?rel=author">
                {% else %}
                    <a href="{{ site.data.authors.[page.author].link }}#">
                {% endif %}
                    {{ site.data.authors.[page.author].name }}
                </a>, also the author of <a href="#modal">these posts ...</a>
            {% else %}
                an anonymous author
            {% endif %}
        </span>
        <span>{{ site.description }}</span>
        </div>
    <section id="sharing">
        <div class="g-plusone" data-annotation="none"></div>
    </section>
</footer>

<!-- Google+ comments -->
{% if page.comments %}
    <div id="comments" class="archive readmore">
        <h3>Comments</h3>
        {% include comments.html %}
    </div>
{% endif %}

    <div class="remodal" data-remodal-id="modal">
        <button data-remodal-action="close" class="remodal-close"></button>
        <ul id="post-list" class="archive readmore">
            <h3>Posts by {{ site.data.authors.[page.author].name }} </h3>
            {% for p in site.posts %}
            {% if page.author == p.author %}
                <li>
                    <a href="{{ post.url }}">{{ p.title }}<aside class="dates">{{ p.date | date:"%b %d" }}</aside></a>
                </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>




